/* General setup */
html, body {
  margin: 0;
  padding: 0;
}

html {
  font-size: 10px;
  background-color: #dde;
}

body {
  width: 80%;
  min-width: 1024px;
  margin: 0 auto;
}

/* Typography */
h1, h2, p, input, button, li, table, label {
  font-family: 'Open Sans Condensed', sans-serif;
  color: #2a2a2a;
}

h1 {
  font-size: 4rem;
  text-align: center;
  color: white;
  text-shadow: 2px 2px 10px black;
}

h2 {
  font-size: 3rem;
  text-align: center;
}

p, li, table {
  font-size: 1.6rem;
  line-height: 1.5;
}

/* Header layout */
header, nav, main, article, aside, footer {
  padding: 10px 30px;
}

nav {
  background-color: green;
}

nav ul {
  padding: 0;
  list-style-type: none;
}

nav li {
  display: inline;
  text-align: center;
}

nav a {
  display: inline-block;
  font-size: 2rem;
  text-transform: uppercase;
  text-decoration: none;
  color: black;
}

nav .search {
  display: flex;
  align-items: center;
  margin-top: 1rem;
}

.search label {
  margin-right: 1rem;
}

.search input[type="search"] {
  flex: 1;
}

.search input[type="submit"] {
  margin-left: 1rem;
  background: #333;
  border: 0;
  color: white;
}

/* Main layout */
main {
  display: flex;
}

article {
  flex: 5;
}

aside {
  flex: 2;
}

footer {
  margin-top: 10px;
}

/* Comments styling */
.comments {
  background-color: #def;
  padding: 10px;
}

.show-hide {
  cursor: pointer;
}

.comment-form {
  margin-bottom: 3rem;
}

.comment-form .flex-pair {
  display: flex;
  padding: 0 3rem 1rem;
}

.comment-form label {
  align-self: center;
  flex: 2;
  text-align: right;
}

.comment-form input {
  margin-left: 1rem;
  flex: 6;
}

.comment-form input[type="submit"] {
  width: 30%;
  display: block;
  margin: 0 auto;
}

.comment-container {
  margin-top: 0;
}

.comment-container li {
  list-style-type: none;
  display: flex;
}

.comment-container li p:nth-child(1) {
  flex: 1;
  font-weight: bold;
}

.comment-container li p:nth-child(2) {
  flex: 5;
}
